html{
    font-family: 'Nunito';
}

body{
    background: #130f0d;
    color: #fff;
}

.boards{
    display: flex;
    margin-top: 32px;
}

.board{
    background: #141316;
    /* border: 1px solid #fd951f11; */
    border: 1px solid #fd951f;
    border-radius: 4px;
    margin: 0 16px;
}

.board h3{
    padding: 16px;
    margin: 0;
    color: #fd951fcc;
}

.dropzones{
    padding: 16px;
    /* background: gray; */
    min-width: 282px;
    min-height: 200px;
}

.cards{
    background-color: #1a1a1c;
    padding: 16px;
    box-shadow: 0 2px 2px -1px #fd951fcc;
    width: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
}

.cards:hover{
    cursor: move;
}

.status{
    width: 30px;
    height: 8px;
    background: gray;
    margin-bottom: 16px;
    border-radius: 8px;
}

.status.green{
    background: #11af11;
}
.status.blue{
    background: #1111af;
}
.status.red{
    background: #af1111;
}

.status.yellow{
    background: #9deb0e;
}

.highlight{
    /* background-color: #11af1155; */
    background-color: #fd951f08;
}

.cards, .dropzones{
    transition: 400ms;
}

.is-dragging{
    cursor: move;
    opacity: 0.4;
}

.over{
    /* background-color: #4cd137; */
    background-color: #4cd13711;
}